name: Official Devices Workflow
on:
  push:
   
   
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@main
        - name: Send telegram channel update message
          run: |
            sudo apt install jq -y
            echo "${{ secrets.tg_token }}" > ~/.telegram.sh
            export raw=$(git log -1 | grep update | awk '{ print $2 }')
            export json="builds/$raw.json"  
            export device=$(grep device $json | awk '{ print $2 }' | sed s/,//g | sed s/'"'//g)
            export filename=$(grep filename $json |  awk '{ print $2 }' | sed s/,//g | sed s/'"'//g)
            export changelog="https://raw.githubusercontent.com/lighthouse-os/official_devices/raft/changelogs/$device/$filename.txt"
            export version=$(grep version $json | sed s/'"'//g)
            export size=$(grep size $json | awk '{ print $2 }' | sed s/,//g | sed s/'"'//g)
            export size=$(bc -l <<< $size/1000000000 | head -c -19)
            git clone https://github.com/fabianonline/telegram.sh.git && sudo mv telegram.sh/telegram /usr/bin && rm -rf telegram.sh
            if [ ! -z $device ];then
              jq -c '.[]' official_devices.json | while read i; do
                  codename=$(echo $i | jq '.codename'| sed s/'"'//g)
                  if [ "$codename" = "$device" ];then
                      export maintainer_name=$(echo $i | jq '.supported_versions[0].maintainer_name'| sed s/'"'//g)
                      export maintainer_id=$(echo $i | jq '.supported_versions[0].telegram_id'| sed s/'"'//g)
                      export url=$(echo $i | jq '.pling'| sed s/'"'//g)
                      telegram  -i ./banner.png -M  "*     | New update for $device! |*"$'\n'"• *Download:* [$device]($url)"$'\n'"• *Size: $size GB*"$'\n'"• Maintainer: [$maintainer_name](https://t.me/$maintainer_id)"$'\n'"• *CL:* [$filename]($changelog)"$'\n'"• [Channel](https://t.me/project_lighthouse)"$'\n'"• [Rom Support](https://t.me/project_lighthouse_os)"
                  fi
              done
            fi
